.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
}

.signup-login-form {
    max-width: 500px;
    padding: 1.5rem 4rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 2;
}

.signup-login-form h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.form-control {
    border: 0;
    border-radius: 0;
    color: black;
    border-bottom: 1px solid var(--main-color-dark);
    background-color: var(--main-color);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--main-color);
    border-color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.arrow-area {
    height: 80px;
    background-color: var(--main-color-dark);
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.arrow-area::before {
    content: '';
    width: 100px;
    height: 50px;
    background: var(--main-color-dark);
    position: absolute;
    right: 50%;
    top: -20px;
    transform: skewY(-25deg);
    animation: upDown 2s ease-in-out 0s infinite alternate;
}

.arrow-area::after {
    content: '';
    width: 100px;
    height: 50px;
    background: var(--main-color-dark);
    position: absolute;
    left: 50%;
    top: -20px;
    transform: skewY(25deg);
    animation: upDown 2s ease-in-out 0s infinite;
}

@keyframes upDown {
    0% {
        top: -20px;
    }
    50% {
        top: -15px;
    }
    100% {
        top: -20px;
    }
}
