/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: white;
    --main-color-dark: #00203fff;
    --secondary-color: #adefd1ff;
    --text-color: #2a2b2e;
}

.App {
    font-family: Lato;
    text-align: center;
    white-space: normal;
}

.main-content {
    padding-top: 1rem;
    height: 100vh;
}
