/* GENERAL */

*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #FCF6F5FF;
  --main-color-dark: #00203FFF;
  --secondary-color: #ADEFD1FF;
}

.App {
  text-align: center;
  white-space: normal;
}

.main-content {
  padding-top: 5rem;
  background-color: var(--main-color);
  height: 100vh;
}

/* Sidebar */
.bg-dark {
  background-color: var(--main-color-dark) !important;
}

.sidebar-title, .sidebar-link {
  padding: .125rem;
  color: var(--secondary-color);
}

.sidebar-title:hover, .sidebar-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.sidebar-title {
  font-size: 1.25rem;
  letter-spacing: .1rem;
}

.sidebar-link {
  font-size: 1rem;
  margin-left: 1rem;
  letter-spacing: .05rem;
}

.navbar-nav {
  flex-direction: row;
}


/* Shopping List */

.shopping-list {
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  max-width: 500px;
}

.form-control {
  border: 0;
  border-radius: 0;
  color: black;
  border-bottom: 1px solid var(--main-color-dark);
  background-color: var(--main-color);
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: var(--main-color);
  border-color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.form-control::placeholder {
  color: rgba(0, 0, 0, .4);
}

.shopping-item-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .175rem .5rem;
}

.shopping-item-container:hover {
  background-color: var(--main-color);
}

.shopping-item {
  cursor: pointer;
}

.shopping-item {
  margin-bottom: 0;
}

.item-completed {
  text-decoration: line-through;
  font-style: italic;
  color: grey;
}

.delete-btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: var(--main-color-dark);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}