form {
    width: 100%;
}

.shopping-list-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.shopping-list {
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    min-width: 310px;
    border-radius: 6px;
}

.list-btn-fixed-width {
    width: 115px;
}

.list-btn {
    background: linear-gradient(to right, var(--main-color-dark) 50%, var(--secondary-color) 50%);
    box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.25);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-out;
    color: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
    height: 30px;
    border-radius: 6px;
}

.list-btn:focus {
    outline: 0;
}

.list-btn > button {
    color: black;
    padding: 0;
    width: 100%;
}

.list-btn:hover {
    background-position: left bottom;
    color: var(--secondary-color);
}

.list-btn:disabled {
    background-color: rgb(221, 221, 221);
    color: rgb(190, 190, 190);
    border: 1px solid rgb(221, 221, 221);
}

.form-control {
    border: 0;
    border-radius: 0;
    color: black;
    border-bottom: 1px solid var(--main-color-dark);
    background-color: var(--main-color);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--main-color);
    border-color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.shopping-item-container {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr;
    grid-column-gap: 4px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0.5rem;
    position: relative;
}

.item-wrapper {
    outline: none;
}

.shopping-item-container::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: var(--main-color-dark);
    opacity: 0.125;
}

.shopping-item-container:hover {
    /* background-color: var(--main-color); */
}

.shopping-item {
    justify-self: start;
    cursor: pointer;
    margin-bottom: 0;
}

.item-completed {
    text-decoration: line-through;
    font-style: italic;
    color: grey !important;
}

.modified-other {
    font-size: 0.6rem;
    color: tomato;
    position: absolute;
    margin-left: 0.2rem;
}
.modified-self {
    font-size: 0.6rem;
    color: black;
    position: absolute;
    margin-left: 0.2rem;
}

.general-btn {
    justify-self: end;
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
    color: var(--main-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.1s ease-out;
}

.general-btn:hover {
    transform: scale(1.2);
}

.general-btn:focus {
    outline: none;
}

.general-btn:disabled {
    background-color: transparent;
    border: none;
}

.general-btn svg {
    height: 16px;
    width: 16px;
}

.btn-disabled {
    background-color: grey;
    border: 1px solid rgb(216, 216, 216);
    color: rgb(216, 216, 216);
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1.5rem;
}

.title-back-btn {
    justify-self: start;
    align-items: center;
}
