.overview {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 5rem auto 5rem auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90vw;
    min-width: 310px;
    border-radius: 6px;
}

.titles {
    position: relative;
    margin-bottom: 1.5rem;
}

.title-one {
    height: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    font-style: italic;
}

.title-two {
    position: absolute;
    font-style: italic;
    height: 26px;
    top: 31px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    animation: leftRight 3s ease-in-out 0s infinite;
    animation-direction: alternate;
}

@keyframes leftRight {
    0% {
        left: -10px;
    }
    100% {
        left: 10px;
    }
}

.list-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.list-item {
    display: grid;
    grid-template-columns: 8fr 2fr 2fr 1fr 1fr;
    justify-items: start;
    width: 90%;
    background: linear-gradient(to right, var(--main-color-dark) 50%, var(--secondary-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    align-self: center;
    transition: all 0.2s ease-out;
    color: var(--main-color-dark);
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 0.3rem;
}

.list-item:hover {
    background-position: left bottom;
    color: var(--secondary-color);
    cursor: pointer;
}

.list-item:hover .edit-btn-overview {
    color: var(--secondary-color);
}

.edit-btn-overview {
    background-color: transparent;
    color: var(--main-color-dark);
    border: none;
    transition: all 0.1s ease-out;
}

.edit-btn-overview:focus {
    outline: none;
}

.edit-btn-overview:hover {
    transform: scale(1.2);
}
