.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 44px);
}

.btn-container {
    display: flex;
    justify-content: center;
}
