.bg-container {
    width: 90vw;
    max-width: 800px;
    margin: 5rem auto auto auto;
    position: relative;
}

.bg-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    filter: opacity(0.25);
}

.bg-pic {
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bg-headline-1 {
    position: absolute;
    top: 50%;
    left: 5%;
    color: var(--secondary-color);
    background: var(--main-color-dark);
    padding: 5px 15px;
}

.bg-headline-2 {
    position: absolute;
    top: 70%;
    left: 20%;
    color: var(--secondary-color);
    background: var(--main-color-dark);
    padding: 5px 15px;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .bg-headline-1 {
        font-size: 1.5rem;
    }

    .bg-headline-2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 470px) {
    .bg-headline-1 {
        font-size: 1rem;
    }

    .bg-headline-2 {
        font-size: 1.25rem;
    }
}
