form {
    width: 100%;
}

.shopping-list-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.shopping-list {
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    border-radius: 10px;
}

.list-btn-fixed-width {
    width: 115px;
}

.list-btn {
    background-color: var(--secondary-color);
    color: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
    height: 30px;
    border-radius: 10px;
}

.list-btn:focus {
    outline: 0;
}

.list-btn > button {
    color: black;
    padding: 0;
    width: 100%;
}

.list-btn:hover {
    background-color: var(--main-color-dark);
    color: var(--secondary-color);
}

.list-btn:disabled {
    background-color: rgb(221, 221, 221);
    color: rgb(190, 190, 190);
    border: 1px solid rgb(221, 221, 221);
}

.form-control {
    border: 0;
    border-radius: 0;
    color: black;
    border-bottom: 1px solid var(--main-color-dark);
    background-color: var(--main-color);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--main-color);
    border-color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.shopping-item-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0.5rem;
    position: relative;
}

.shopping-item-container::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: var(--main-color-dark);
    opacity: 0.125;
}

.shopping-item-container:hover {
    background-color: var(--main-color);
}

.shopping-item {
    cursor: pointer;
    margin-bottom: 0;
}

.item-completed {
    text-decoration: line-through;
    font-style: italic;
    color: grey !important;
}

.modified-other {
    font-size: 0.6rem;
    color: tomato;
    position: absolute;
    margin-left: 0.2rem;
}
.modified-self {
    font-size: 0.6rem;
    color: black;
    position: absolute;
    margin-left: 0.2rem;
}

.general-btn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: var(--main-color-dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.general-btn svg {
    height: 12px;
    width: 12px;
}

.edit-btn {
    margin-left: auto;
    margin-right: 0.4rem;
}

.btn-disabled {
    background-color: grey;
    border: 1px solid rgb(216, 216, 216);
    color: rgb(216, 216, 216);
}
